<%- include ../admin/partials/header.ejs %>
<%- include ../admin/partials/nav.ejs %>

<!--container-start-->
<div class="container">
    <div class="row">
        <!--sidebar-start-->
        <div class="col-md-3">
            <%- include ../admin/partials/sidebar.ejs %>
        </div>
        <!--sidebar-end-->

        <!--content-start-->
        <div class="col-md-9">
            <div id="content">
                <div class="row">
                    <div class="col-md-12">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda blanditiis deleniti est et exercitationem illo itaque molestias natus, nihil obcaecati odio perspiciatis quas quasi saepe sed tempora ut vero. At consequatur consequuntur earum fuga, laborum molestiae natus non vel vero voluptatum. Debitis magnam maxime nulla odit optio rem repudiandae, rerum!</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae culpa distinctio esse id magnam. Ad eius illo nesciunt, nisi quam quibusdam tempore velit voluptate voluptatum. Ab commodi, consectetur dolores, ea earum inventore nemo provident quisquam quo reprehenderit repudiandae temporibus ullam voluptatem. Beatae deserunt hic iure possimus provident quisquam repellat. A architecto asperiores aspernatur assumenda at atque debitis deleniti distinctio eligendi enim eveniet id, ipsum iusto maiores minima molestiae nihil obcaecati provident qui quisquam rerum sapiente sed totam velit voluptatem. Ab accusamus aliquam architecto aut beatae consectetur deserunt dolores doloribus eaque est explicabo fugit illum incidunt ipsam itaque maiores minus modi nam, nulla odio perferendis placeat quasi qui quo reprehenderit, sapiente veritatis? Cumque magni, qui quia quo sit ullam voluptas voluptate!</p>
                    </div>
                </div>
            </div>
        </div>
        <!--content-end-->
    </div>
</div>
<!--container-end-->

<%- include ../admin/partials/footer.ejs %>
