<div id="sidebar">
    <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action active">
            <i class="fa fa-th-list"></i>&nbsp;&nbsp;CATEGORIES
        </a>
        <a href="#" class="list-group-item list-group-item-action">Business</a>
        <a href="#" class="list-group-item list-group-item-action">Sports</a>
        <a href="#" class="list-group-item list-group-item-action">Lifestyle</a>
        <a href="#" class="list-group-item list-group-item-action">Showbiz</a>
        <a href="#" class="list-group-item list-group-item-action">Health</a>
        <a href="#" class="list-group-item list-group-item-action">Science</a>
        <a href="#" class="list-group-item list-group-item-action">Travel</a>
    </div>
</div>