<div id="sidebar">
    <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action active">
            <i class="fa fa-th-list"></i>&nbsp;&nbsp;CATEGORIES
        </a>
        <% if(typeof categories !== 'undefined'){ %>
        <% categories.forEach(function(category, key) { %>
        <a href="/category/<%= category.id %>" class="list-group-item list-group-item-action"><%= category.name %></a>
        <% }); %>
        <% } %>
    </div>
</div>