<%- include ../partials/header.ejs %>
<%- include ../partials/nav.ejs %>

<!--container-start-->
<div class="container">
    <div class="row">
        <!--content-start-->
        <div class="col-md-9">
            <div id="content">
                <div class="row">
                    <div class="col-md-12">
                        <img src="https://www.akamai.com/uk/en/multimedia/images/intro/image-manager-intro.png?imwidth=1366"
                             width="100%" alt="">
                        <div class="mt-4">
                            <h3>Lorem ipsum dolor.</h3>
                            <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                Accusantium aperiam assumenda ea, illum ipsum laborum maxime, molestiae molestias,
                                perspiciatis quam qui quibusdam vero voluptates. A alias, atque autem consequatur
                                cumque est, illo inventore ipsum modi officia omnis perspiciatis quidem quos soluta,
                                voluptate! Ad adipisci consectetur culpa cumque cupiditate debitis delectus
                                doloribus dolorum excepturi id laudantium magnam magni nisi odit, porro quae
                                reiciendis sunt suscipit tempora tempore tenetur unde voluptatibus? Aut debitis
                                error explicabo iusto minima molestiae mollitia sapiente sequi vero. Atque
                                consectetur debitis dolorem ea earum explicabo laudantium maxime, quibusdam
                                recusandae. Dignissimos eaque eos ipsa laborum odit omnis sapiente tenetur veniam!
                                Cumque dignissimos eligendi excepturi hic ipsum iusto laudantium minima, nisi nulla
                                odit officia perspiciatis repellendus totam ullam velit? Aliquid amet at blanditiis
                                consectetur culpa delectus dolorum eaque, eos eum incidunt iste iure magnam maiores
                                minima nam non odio placeat quae quaerat quas quia, quibusdam quis saepe totam
                                velit! Rem?</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--content-end-->

        <!--sidebar-start-->
        <div class="col-md-3">
            <%- include ../partials/sidebar.ejs %>
        </div>
        <!--sidebar-end-->
    </div>
</div>
<!--container-end-->

<%- include ../partials/footer.ejs %>
