<div id="sidebar">
    <div class="list-group">
        <a class="list-group-item list-group-item-action active text-white">
            <i class="fa fa-th-list"></i>&nbsp;&nbsp;Modules
        </a>
        <a href="/admin/categories" class="list-group-item list-group-item-action">
            <i class="fa fa-list-alt"></i>&nbsp;&nbsp;Categories
        </a>
        <a href="/admin/posts" class="list-group-item list-group-item-action">
            <i class="fa fa-sticky-note-o"></i>&nbsp;&nbsp;Posts
        </a>
    </div>
</div>
